.site-header {
  padding-top: 46px;

  background-size: cover;
}
.site-header__header-iner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__header-iner-box {
  display: flex;
  align-items: center;
}
